<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navTabs('tabs/tab1')" tab="tab1">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Personal</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navTabs('tabs/tab2')" tab="tab2">
      <ion-icon aria-hidden="true" name="construct"></ion-icon>
      <ion-label>Produccion</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navTabs('tabs/tab3')" tab="tab3">
      <ion-icon aria-hidden="true" name="disc"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
